
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* .reset *{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
  
.navbar{
    padding: 0 15px;
    margin-top: 20px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 2vw 7vh;
}


.listItem{
    list-style: none;
    display: inline-block;
    
}
.navLink{
    font-size: 1em;
    margin-right: 2em;
    color: black;

}

.signup{
    background-color: #52B6EC;
    border: 1px solid #52B6EC;
    margin-left: 2em;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px;
    width: 111px;
    color: white;
}
.login{
  border: 2px solid #52B6EC;
  background-color: white;
  border-radius: 10px;
  margin-left: 2em;
  font-size: 1rem;
  padding: 10px;
  width: 111px;
  color: black;
}

.items{
    color: white;
    text-align: center;
}
.items2{
  color: black;
  text-align: center;
}
.footer{
  display: flex;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color:#52B6EC ;
        padding: 0 0 30px;
        font-size: 13px;
        line-height: 20px;
        justify-content: space-between;        
}
 .row{
  width: 85%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  padding-left: 4rem;
  padding-top: 2rem ;
}
.logo2{
  color: #fff;
}
 .listItem2{
  list-style: none;
  margin-bottom: 12px;
  margin-top: 0.5rem;
 }

.col{
  flex-basis: 50%;
  padding: 7px;
  margin-top: 2rem;
  color: white;
  

} 

.socialIcons {
  display: flex;
  gap: 10px;
  align-items: end;
}

.socialIcons svg {
  width: 97.4px;
  height: 16.33px;
  top: 6814.67px;
  left: 1193.6px;
  color: #fff; 
}





/* .container{
  border: 1px solid;
  padding: 0 0 15vw 5vw;
  min-height: 100vh;
  display: flex;
  margin: 0;

  
  
}
.container h1{
  font-size: 48px;
  font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
line-height: 72px;

}
.container span{
  color:#52B6EC ;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
line-height: 72px;
}
.container h2{
  color:#52B6EC ;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
line-height: 72px;
}
.my-span{
  font-size: 48px;
  font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
line-height: 72px;
text-transform: uppercase;
}
.container p{
  width: 50ch;
  Font-size: 22px;
  font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
line-height: 38px; 
}
.container img{
  width: 50%; 
  height: 50%;
  
}
.text-container{
 
  padding-top: 16vw;
}

.my-button{
 
 display:flex;
 font-size:19px;
 border-radius:10px;
 margin: 15rem 7rem 0 0;
 width: 262px;
 height: 64px;
 padding-right: 7.5rem;
 background-color: orange;
 align-items: center;
 justify-content: space-between;
 
} */
/* .my-button{
  display: flex;
align-items: center;
padding: 10px 20px;
font-size: 16px;
background-color: orange;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
} */
/* .my-button img {
  
  margin-left: 10px;
  width: 20px; 
height: 20px;

} */

/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
/* @media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */ 
